.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
  background-image: linear-gradient(-90deg, #49c5b6, #96bdb5);
  padding: 20px;
}

.names {

  font-size: 30px;
  color: black;
  border-radius: 5px;
  padding: 20px;
}
.right{

  display: block;
}
.left{
  float: right;
  display: block;
}
